In [185]:
# Import the necessary components
import pandas as pd
from bs4 import BeautifulSoup as bs
from splinter import Browser
from datetime import datetime

In [618]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [138]:
# Read HTML 
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [178]:
html = browser.html
soup = bs(html, 'html.parser')
    
results = soup.find_all('div', class_='list_text')

In [183]:
# Set the start date time to the millenium 
latest_time = pd.to_datetime(2000,format='%Y')

for result in results:
    # Get the date from the news site and convert it to datetime, so that we can get the latest date
    cur_date = result.find(class_='list_date').text
    cur_time = datetime.strptime(cur_date, '%B %d, %Y')
    
    if (cur_time > latest_time):
        latest_date = cur_date
        latest_time = cur_time
        # Get the latest news_title and news_paragraph 
        news_title = result.find(class_='content_title').text
        news_p = result.find(class_='article_teaser_body').text

print(f" {latest_date} : {news_title} \n {news_p}")

 August 15, 2019 : Robotic Toolkit Added to NASA's Mars 2020 Rover
 The bit carousel, which lies at the heart of the rover's Sample Caching System, is now aboard NASA's newest rover.

In [619]:
# Read HTML 
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

browser.visit(url)

In [616]:
html = browser.html

soup = bs(html, 'html.parser')

In [695]:
results = soup.find_all("div", class_='img')  
image_url = results[0].find("img")['src'] 
print(image_url)

/spaceimages/images/wallpaper/PIA23345-640x350.jpg

In [696]:
base_mars_url = 'https://www.jpl.nasa.gov'
featured_image_url = base_mars_url + image_url
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA23345-640x350.jpg

In [283]:
# Read HTML 
url = 'https://twitter.com/marswxreport?lang=en'

browser.visit(url)

In [284]:
html = browser.html

soup = bs(html, 'html.parser')

In [351]:
results = soup.find_all('div', class_='js-tweet-text-container')

In [352]:
tweet_list = []

for result in results:
    #Get the tweet data 
    p_text = result.p.text
    
    # Some of the p.txt has picture reference, take that out, and only get the text 
    if (result.p.a):
        pa_text = result.p.a.text
        tweet_text = p_text.replace(pa_text, "")
    else:
        tweet_text = p_text  
    
    # store the tweet text in the list
    if(p_text):
        tweet_list.append(tweet_text)

# store the lestest tweet        
mars_weather =  tweet_list[0]   
print(mars_weather)

InSight sol 261 (2019-08-21) low -102.4ºC (-152.4ºF) high -26.6ºC (-15.8ºF)
winds from the SSE at 4.9 m/s (11.0 mph) gusting to 16.0 m/s (35.8 mph)
pressure at 7.70 hPa

In [731]:
# Read HTML data and store it in table 
url = 'https://space-facts.com/mars'

tables = pd.read_html(url)

tables

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [732]:
# Most relevent data is kept in the first table 
df = tables[0]
df

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:    -153 to 20 °C      -88 to 58°C

In [734]:
# Separate the Mars Data
df = df.iloc[:,0:2]
df.columns = ['Description', 'Value']
df.set_index('Description', inplace=True)
df

                              Value
Description
Diameter:                  6,779 km
Mass:               6.39 × 10^23 kg
Moons:                            2
Distance from Sun:   227,943,824 km
Length of Year:      687 Earth days
Temperature:          -153 to 20 °C

In [735]:
# Use Pandas to write the table in HTML format
html_table = df.to_html(header=True, index=True)
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n  </tbody>\n</table>'

In [487]:
# Read HTML 
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

browser.visit(url)

In [488]:
html = browser.html

soup = bs(html, 'html.parser')

In [498]:
results = soup.find_all('div', class_='description') 

title_list = []

for result in results:
    #Get the title data and add it to the title list 
    title_list.append(result.a.text)
    
title_list

['Cerberus Hemisphere Enhanced',
 'Schiaparelli Hemisphere Enhanced',
 'Syrtis Major Hemisphere Enhanced',
 'Valles Marineris Hemisphere Enhanced']

In [518]:
base_url = 'https://astrogeology.usgs.gov'

child_url_list = []


for result in results:
    # Get the relative href 
    child_sub_url = result.a['href']
    
    #Make the full href 
    child_url = base_url + child_sub_url
    
    #Append to the child url list
    child_url_list.append(child_url)
    
    
child_url_list

['https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced',
 'https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced',
 'https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced',
 'https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced']

In [551]:
image_url_list = []

for sub_url in child_url_list:
    
    #visit the child URL to find the full image
    browser.visit(sub_url)
    html = browser.html
    soup = bs(html, 'html.parser')
    child_results = soup.find(class_='downloads').li 
    image_url = child_results.a['href']
    
    #append to the image URL list
    image_url_list.append(image_url)
    
image_url_list

['http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg']

In [572]:
#Make the hemisphere_image_urls dictionary from title_list and image_url_list
hemisphere_image_urls = []


for i in range(len(title_list)):
     my_dict = {"title" : title_list[i], "img_url" : image_url_list[i]}
     hemisphere_image_urls.append(my_dict)  
    
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]